#Composer vendor
vendor/
vendor/.git

# Ignore drupal core.
web/core

# Ignore paths that contain user-generated content.
web/sites/*/files
files-private
web/sites/*/private

# Ignore contrib modules. These should be created during build process.
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries

# Ignore custom theme build artifacts
web/themes/custom/*/node_modules

#Exports
*.gz
*.sql
*.zip

# vscode
.vscode

# config